
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar  {
    position: sticky;
    top: 0;  
    z-index: 1000;
    background-color: whitesmoke;
}

#logo h1 {
    color: rgb(39, 39, 112);

}


.nav-link1 {
    display: flex;
    gap: 8px;
    justify-content: center;
    list-style: none;
    
}
.nav-link1 a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: clamp(16px, 4.5vw, 30px);
}
.nav-link1 a:hover {
    color: rgb(99, 99, 161);
}

.logo2 {
    text-decoration: none;
    color: white;
}
.logo2 h2 {
    font-size: clamp(16px, 4vw, 25px);
}
.botton-navbar  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    left: -3vw;
}


@media (max-width:600){
    .nav-link1 a {
    width: 50%;
}
    
}


#navbar a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.section-line{
    width: 100%;
    height: 1px;
    background:lightgray;
    margin: 90px 0;
    position: relative;
    top: 35px;

}

.nav-item a {
    display: flex;
    gap: 40px;
    font-size: clamp(16px, 4vw, 30px);
    font-family: 'Times New Roman', Times, serif;
    
}

body  {
    background-color:whitesmoke;
    overflow-x: hidden;
    margin: 0;

}
  

/**float box**/

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/**this is the actual box**/

.home1 {
    background-color: white;
    width: 50%;
    max-width: 4300px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px ;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}
 

/**image styling**/
/**carousel images**/

.container20 {
    position: absolute;
    width: 70%;
    max-width: 1200px;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0px 5px 25px black;
    overflow: hidden;
    height: 65%;
    margin: auto;
}



/*mobile*/
@media ( max-width:600px){
    .home1{
        width: 90%;
    }
    .container20{
        width: 90%;
    }
    .home2 h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home2 h2 {
        align-items: center;
        text-align: center;

    }
    
}
/*tablet*/
@media ( max-width:992px){
    .home1{
        width: 100%;
    }
    .container20{
        width: 90%;
    }
    .home2 h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home2 h2 {
        align-items: center;
        text-align: center;

    }
    
}




.img-container {
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 16s infinite;
}

.img-container img {
    width: 25%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-25%);
    }
    55%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(-75%);
    }
    

}





.home2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 639px;
}

.home2 h1 {
    font-size:clamp(1.8rem, 8vw, 3rem) ;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

.home2 h2 {
    font-size: clamp(1rem,4vw, 1.5rem);
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    display: flex;
    justify-content: center;
}





.home1 a button {
    font-size: clamp(16px, 4vw, 30px);
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 12px 20px;
    position: relative;
    top: -13px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

/**hover effect**/
.home1 a button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgb(175, 3, 3);
}

#navbar a button {
    font-size: clamp(16px, 3.5vw, 28px);
    font-weight: 400;
    color: white;
    background-color:black;
    border-radius: 10px;
    padding: 1vw;
    position: relative;
    left: -1vw;
    height: fit-content;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    width: 100%;
}


#navbar a button:hover {
    background-color: red;
    color: black;
}



/**contact pages**/

 footer a {
    position: relative;
    gap: 15px;
    

}

form {
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
}

input {
    padding: 10px;
    font-size: 16px;
    border:1px solid #ccc ;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff; /*shows color when typing */

}

input::placeholder {
    color: #aaa;
    font-style: italic;/*place element in the box */
    font-family: 'Times New Roman', Times, serif;
}

.c-button {
    width: 200px;
    padding: 11px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 0 auto;
}

.c-button:hover {
    background-color:red;
}

.main {
    position: relative;
    top: 500px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(16px, 4vw, 30px) ;
}

.divider {
    width: 80%;
    max-width: 6000px;
    height: 1px;
    background-color: #ddd;
    position: relative;
    margin: 40px auto;
    top: 500px;
    

}


#Contact footer img {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    border-radius: 15px;
    margin-bottom: 0;
    
}
#Contact footer img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    
}




.c-section  {
    display: flex;
    flex-direction: row;
    gap: 90px;
     background:linear-gradient(to top, 
    #FF0000 0%,
    #FF4D4D 30%,
    #FF8080 60%,
    #FFCCCC 100%) ;
    position: relative;
    top: 900px;
    height: 500px;

}

.c-section nav {
    position: relative;
    max-width: 600px;
    
}

.S-TEXT {
    display: none;
}


@media (max-width:1111.11px){
    .F-TEXT {
        display: none;
    }
    .S-TEXT {
        display: inline;
    }
}



























